/******CSS reset******/
html {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	margin: 0;
}

body, ul, li, ol,dt, dd, dl, p, h1, h2, h3, h4, h5, h6, h7, input {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
}
ul, ol {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
input {
    vertical-align:middle;
    height: 24px;
    line-height: 24px;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
}

textarea{
	border:1px solid #ddd;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	background-color:#fff;
	padding:5px;
}

label {
	font-family: Tahoma;
	vertical-align: middle;
	color:#666;
}

select {
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    color: #666;
    font-size: 12px;
    padding: 4px 0;
    border: 1px solid #ddd;
}

textarea {
    border: 1px solid #ddd;
}

a:hover {
	text-decoration: underline;
}
a {
	color: #CC0000;
	text-decoration: none;
}

/**********************************CSS pool************************************************/



.va_m{
		vertical-align:middle;
}
.ll {
	float: left;
}
.rr {
	float: right;
}

.lh32{
	line-height:32px;
}
.lh160{
	line-height:180%;
	}
.lh210{
	line-height:210%;
	}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    display: block;
}

.del_float {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.clearit {
    clear: both
}

.clearr {
    clear: right
}

.clearl {
    clear: left;
}

.ta_c {
    text-align: center;
}

.ta_r {
    text-align: right;
}

.ta_l {
    text-align: left;
}

.m0auto{
	margin:0 auto;
}
.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml80{margin-left:80px;}
.ml100 {
    margin-left: 100px;
}
.ml127 {
    margin-left: 127px;
}
.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}
.mr14 {
    margin-right: 14px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr35 {
    margin-right: 35px;
}

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb1 {
    margin-bottom: 1px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml-1 {
    margin-left: -1px;
}

.mt-1 {
    margin-top: -1px;
}

.p1 {
    padding: 1px;
}

.pl1 {
    padding-left: 1px;
}

.pt1 {
    padding-top: 1px;
}

.pr1 {
    padding-right: 1px;
}

.pb1 {
    padding-bottom: 1px;
}

.p2 {
    padding: 2px;
}

.pl2 {
    padding-left: 2px;
}

.pt2 {
    padding-top: 2px;
}

.pr2 {
    padding-right: 2px;
}

.pb2 {
    padding-bottom: 2px;
}

.pl5 {
    padding-left: 5px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}
.w60{
	width:60px;
}
	
.w30{
	width:30px;
}
.w90{
	width:90px;
}
.w200{
	width:200px;
}
.w250{
	width:250px;
}
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    -moz-inline-stack: inline-block;
    display: inline-block;
}

.di {
    display: inline;
}

.ovh {
    overflow: hidden;
}

.ovs {
    overflow: scroll;
}

.indent24 {
    text-indent: 24px;
}

.noborder {
    border: none;
}

.wordbreak {
	word-wrap: break-word;
	overflow: hidden;
}
.font333{
	color:#333;
}
.font666{
	color:#666;
}
.font999{
	color:#999;
}
.fontccc{
	color:#ccc;
}
.fontfff{
	color:#fff;}
.fontblod {
	font-weight:bold;}
	
/**********************************top style************************************************/

.bhead {
	margin:auto;
	margin-top:2px;
	height:100px;
	width:980px;
}


.sidebar li {
	line-height:18px;
	color:#a3a2a2;
}
#menu {
	margin:auto;
	margin-top:5px;
}

.menu_cbg {
	height:35px;
	line-height:35px;
	color:#ffffff;
    text-indent:20px;
	background-color:#CC0000;
	width:980px;
	overflow:hidden;
	margin:0 auto;
}
.menu_cbg a{
	color:#ffffff;
	text-decoration: none;
}


/********************************* footer style **********************************/
#footer{width: 970px;margin:auto;margin-top: 10px;border-top:2px solid #C5312F; padding:16px 8px; font-size:12px;}

/********************************* content style **********************************/

.leftmenu{
	width:182px;
}

.block{
	margin:0 auto; 
}
.menu1{
	border:2px solid #CC0000;
	line-height:30px;
	height:30px;
	width:180px;
	margin:0 auto;
	text-indent:24px;
	color:#CC0000;
	background:url(../images/icon_backend.gif) no-repeat scroll -4px 0;
	background-color:#F8D6D7;
	font-weight:bold;
}

.block ul{
	width:170px;
	margin:0 auto 5px;
}

.menu2{
	color:#666
}

.menu2 li{
	line-height:25px;
	height:25px;
	text-indent:30px;
	background:url(../images/icon_backend.gif) no-repeat scroll 0 -30px;
	cursor:pointer;
}

.menu2 li a{
	color:#666;
}

.menu2 li a:hover{	
	color:#CC0000;
	text-decoration:none;
}
.menu2 .sel_menu{
	font-weight:bold;
	background:url(../images/icon_backend.gif) no-repeat scroll 0 -50px;
}

.menu2 .sel_menu a{
	color:#CC0000;;
}


.leftmenu3{
	width:198px;
	border: 2px solid #eee;
	margin-right:18px;
	}
.menu3{
		color:#666
}

.menu3 li{
	line-height:25px;
	height:25px;
	text-indent:30px;
	background:url(../images/icon_backend.gif) no-repeat scroll 0 -30px;
	cursor:pointer;
}

.menu3 li a{
	color:#666;
}

.menu3 li a:hover{	
		color:#017cc8;
		text-decoration:none;
}
.menu3 .sel_menu{
	    font-weight:bold;
		background:url(../images/icon_backend.gif) no-repeat scroll 0 -50px;
}

.menu3 .sel_menu a{

		color:#017cc8;
}

/********************************* main part **********************************/
/*	float:left; move from mainpart by qhb*/
.mainpart{
	width:766px;
	min-height:450px;
	margin-left:10px;
	float:left;
	display:inline;
}
#content{
	margin:auto;
	width:980px;
}

.sheer {
	background: url(../images/icon.gif) no-repeat scroll -90px -20px;
	padding-left: 15px;
}
em {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	padding: 0 2px;
}
.dotline {
    border-bottom: 1px dotted #ccc;
}
.solidline {
    border-bottom: 1px solid #ddd;
}
.solid{
	border:1px solid #ccc;}
.sheer02{
		background:url(../images/icon_backend.gif) no-repeat scroll 0 -100px;
		text-indent:9px;
}
/* prompt thing = used as a prompt with cross or check icon  */
.prompt2 {
	height: 30px;
	vertical-align: middle;
	margin: 0 auto;
}
/* prompt_err = 出错提示  */
.prompt_err {
	color: #ff2020;
	background: url(../images/icon_backend.gif) no-repeat 0 -130px;
	line-height: 30px;
	vertical-align: middle;
}
.font_s16 {
	font-size: 16px;
}
h2 {
    font-size: 14px;
    color: #CC0000;
    font-weight: bold;
}
h3{
	font-size:14px;
	color:#fe8c1a;
	font-weight: bold;}
cite {
    color: #ff0000;
    font-weight: bold;
}





/*用于数据导入层*/
.layer_box2 {
	border: 5px solid #ddd;
	background: none repeat scroll 0 0 #fff;
	width: 420px;
	line-height: 220%;
	padding: 30px;
	position: fixed;
	left: 360px;
	top: 100px;
	-moz-border-radius: 6px 6px 6px 6px;
	opacity: none;
}

/*资讯审核页面样式*/
/*面包屑title*/
.title {
	height:32px;
	line-height:32px;
	margin-bottom:5px;
	width:784px;
	background:url(../images/icon_backend.gif) no-repeat scroll 0 -70px;
	text-indent:24px;
	float:left;
}


.detailbox{
	width:755px;
	border:solid 1px #ddd;
	padding:10px 15px;
	min-height:355px;
	float:left;

}
.news_h {
	height: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding: 3px 2px 5px 2px;
}

.rel_news {
	border-top: solid 2px #eee;
	margin-top: 10px;
	padding: 10px 5px;
	width: 656px;
	vertical-align: middle;
}

.detailbox2 img {
	border: solid 5px #efefef;
	padding: 4px;
	text-align: center;
}

.detailbox2{
	width:706px;
	border:solid 2px #eee;
	padding:10px 15px;
	min-height:355px;
	float:left;

}

.img_center{
	text-align: center;
	}

.gray_box {
	border: 1px solid #ccc;
	text-align: center;
	width: 664px;
	margin: 0 auto;
	margin-top: 10px;
	background: #f0f0f0;
	line-height: 40px;
	margin-bottom: 15px;
}

.newstitle {
	border-bottom: dotted 1px #eee;
	text-align:center;
}

.img_c {
	margin: 20px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: #017cc8;
	text-align: center;
	line-height: 22px;
}

/*提示成功*/
.tipbox{
	border:1px dashed #fbb268;
	padding:10px;
	margin-bottom:10px;
	background:#fbf2e8;
	}
.search_box{
	width:735px;
	border:1px solid #ddd;
	margin:0 auto 10px;
	padding:10px 8px;
	background-color:#f7f9fa;
	float:left;
	}
	
	
.search_box li{
	height:32px;
	line-height:32px;
	width:100%;
	margin:0 auto 5px;
	float:left;
}



/*编辑待审资讯*/	

.box{
	width:740px;
}

.form ul li{
	line-height:30px;
}


.form ul li label{
	width:60px;
	display:inline-block;
}


/*添加用户课程*/
.course_box ul{
	text-indent:20px;}
.course_box li{
	line-height:20px;
	}
.course_boxtitle{
	border:1px solid #ccc;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:12px;
	margin-bottom:10px;}
.course_box p{
	text-indent:20px;
	margin-top:10px;
}
.course_input{
	width:600px;
	margin:auto;
	}
.course_input ul li label{
	width:90px;
	display:inline-block;}
.course_box ul li label{
	width:100px;
	display:inline-block;}

/*修改课程*/
.items {
	height: 40px;
	line-height: 40px;

}

.items input {
	width: 200px;
	float:left;
}

.item label {
	width: 70px;
	float: left;
}


.label {
	display: block;
	width: 80px;
	float: left;
}
.items_right{
	width:400px;}
.certistatus a{
    color:#fe8c1a;
	font-weight:bold;
}
/*证书课程*/
.menu {color:#272727;height:28px;border-right:1px solid #ddd;margin-left:20px;float:left}
.menu ul {text-align:center;}
.menu li {display:inline; line-height:27px;font-size:12px;}
.menu li a {display:block;float:left;background:url(../images/tab_bg.gif) repeat-x bottom;color:#666!important;font-weight:bold;text-decoration:none!important;width:120px;border:1px solid #ddd;border-bottom:none;border-right:none;height:28px;}
.menu li a.tabactive {background:#fff;font-weight:bold;color:#3366CC!important;border:1px solid #4e7ac7;border-bottom:none;padding-bottom:0px;position:relative;}
#tabcontent1,#tabcontent2,#tabcontent3{float:left;_margin-top:-1px;border-top:1px solid #4e7ac7;width:706px;padding:6px 0px; font-size:12px; margin-bottom:10px;
}

.certi_boxt{
	border:2px solid #40b4fc;
	width:664px;
	margin-bottom:10px;
	margin-left:20px;
	float:left;
}
.certi_boxblue{
	background-color:#40b4fc;
	width:160px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
	float:left;
}
.certi_framebox{
	margin:5px 10px 0 20px;
	float:left;
	}
.certi_frame{
	border:1px solid #ccc;
	float:left;
	padding:0 5px;
	margin-top:2px;
	height:24px;
	line-height:24px;
	margin-left:-1px;
	width:60px;
	text-align:center;
	}
.certi_right{
	text-align:center;
	line-height:40px;
	margin-left:10px;
	}
.close_button1{
	background: url(../images/icon_backend.gif) no-repeat scroll 0 -160px;
	vertical-align: middle;
	height:30px;
	padding-left:20px;
	}
.close_button2{
	background: url(../images/icon_backend.gif) no-repeat scroll 0 -190px;
	vertical-align: middle;
	height:30px;
	padding-left:20px;
	}
.close_button3{
	background: url(../images/icon_backend.gif) no-repeat scroll 0 -220px;
	vertical-align: middle;
	height:30px;
	padding-left:20px;
	}
.certi_boxlist{
	width:330px;
	margin-right:20px;}

.certi_addbox{
	width:317px;}

.certi2_boxt{
	border:2px solid #fe8c1a;
	float:left;
	width:664px;
	margin-bottom:10px;
	margin-left:20px;
	float:left;
}
.certi2_boxblue{
	background-color:#fe8c1a;
	width:160px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
	float:left;
}
.certi2_framebox{
	margin:5px 10px 0 20px;
	float:left;
	}
.certi2_frame{
	border:1px solid #ccc;
	float:left;
	padding:0 5px;
	margin-top:2px;
	height:24px;
	line-height:24px;
	margin-left:-1px;
	width:60px;
	text-align:center;
	}
.certi2_right{
	text-align:center;
	line-height:40px;
	margin-left:10px;
	}
.certi3_boxt{
	border:2px solid #93dc05;
	float:left;
	width:664px;
	margin-bottom:10px;
	margin-left:20px;
	float:left;
}
.certi3_boxblue{
	background-color:#93dc05;
	width:160px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
	float:left;
}
.certi3_framebox{
	margin:5px 10px 0 20px;
	float:left;
	}

.certi3_frame{
	border:1px solid #ccc;
	float:left;
	padding:0 5px;
	margin-top:2px;
	height:24px;
	line-height:24px;
	margin-left:-1px;
	width:60px;
	text-align:center;
	}
.certi3_right{
	text-align:center;
	line-height:40px;
	margin-left:10px;
	}
.tdicon {
	background: url(../images/icon_backend.gif) no-repeat scroll 0 -250px;
	height: 30px;
	width: 20px;
	line-height: 30px;
	vertical-align: middle;
}


/*证书申请详细*/
.boxinfo{
	margin:20px;}

.spacedashline{
	border-bottom: 1px dashed #CCCCCC;
    padding-bottom: 5px;
    overflow: hidden;
	}
.boxinfo ul li{
	line-height:40px;}
.boxinfo2{
	margin-top:20px;
	width:688px;
	}
	
/* 题库管理 */
.boxnr{
	width:684px;
	border:1px solid #ddd;
	background:#f4f4f4;
	padding:0 10px;
	}

.tablebox tr th,.tablebox tr td{
	border:1px solid #dbdada;
	font-weight:normal;
	background:#fff;
	padding:5px 10px;
	text-align:center;
}
.tablebox tr th{
	background-color:#ede9e9;
	}
.collapse{
	border-collapse: collapse;
	}

/*选修课程title色 */
.fontyellow {
	color: #fe8c1a;
}
/*必修课程title色 */
.fontblue{
	color: #40b4fc;
	}
/*辅修课程title色 */
.fontgreen{
	color: #93dc05;
	}
.fontred {
	color:red;
}
.button01{
	height:25px;
	color:#fff;
	font-weight: bold;
    vertical-align:middle;
	cursor:pointer;
	background-color:#CC0000;
	line-height:25px;
	border-style:solid;
	border-width:0;
	padding:0 5px;
}

.button02{
	height:25px;
	line-height:25px;
    color:#fff;
	font-weight: bold;
    vertical-align:middle;
	cursor:pointer;
	background-color:#a6a5a5;
    border-style:solid;
	border-width:0;
	padding:0 5px;
}
.btn_gray{
	height:25px;
	line-height:25px;
    color:#fff;
    vertical-align:middle;
	cursor:pointer;
	background-color:#a6a5a5;
    border-style:solid;
	border:none;
	}
.btn_blue{
	height:25px;
	line-height:25px;
    color:#fff;
    vertical-align:middle;
	cursor:pointer;
	background-color:#3399ff;
    border-style:solid;
	border:none;
	}
.buttonbox{
	width:200px;
	height:40px;
	vertical-align:middle;
	text-align:center;
	margin:auto;
}

.pager {
	text-align: center;
	color: #666;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding: 10px 0;
}

.pager a {
	color: #666;
}

.pager a:hover {
	color: #017CC8;
	text-decoration: none;
}
.inputpager {
	border:1px solid #ccc;
	line-height: 20px;
	height:18px;
		
}

.input input{
	border:1px solid #ddd;
	line-height:24px;
	vertical-align:middle;
}

.input_c{
	border:1px solid #ddd;
	line-height:24px;
	vertical-align:middle;
}


.forsubmit{
	border-style:solid;
	border-width:0;
}





/*strong = numbers which needs emphasized*/
strong {
	font-size: 12px;
	font-weight: bold;
	color: #fe8c1a;
	vertical-align: baseline;
}

 /*   最新课程推荐 */
 .site_list{
	width:280px;
	float:left;
	margin:0 10px;
	display:inline;
	}
.site_list_select{
	width:100%;
	height:200px;    
	}
.join{
	margin:40px 20px;
	}
.buttonbox02{
	margin: 20px 300px;
	width:100px;
	}
	
/*宽度为960面包屑title*/
.titlebox {
	height:32px;
	line-height:32px;
	margin-bottom:5px;
	width:960px;
	background:url(../images/icon_backend.gif) no-repeat scroll 0 -70px;
	text-indent:24px;
}

/*icon*/
.close_icon{
	background:url(../images/icon_1.png) no-repeat -40px 0;
	width:16px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
	}
.cancels_icon{
	background:url(../images/icon_1.png) no-repeat -20px 0;
	width:16px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
	}
.recommend_icon{
	background:url(../images/icon_1.png) no-repeat -100px 0;
	width:12px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	}
.edit_icon{
	background:url(../images/icon_1.png) no-repeat -60px 0;
	width:14px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
	}
.add_icon{
	background:url(../images/icon_1.png) no-repeat 0;
	width:16px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
	}
.cannot_icon{
	background:url(../images/icon_1.png) no-repeat -80px 0;
	width:15px;
	height:16px;
	display:inline-block;
	text-indent:-9999px;
	float:left;
	margin-right:5px;
	}
	
	
/**********统计后台 css*********/

/*breadcurmb style*/
.breadtitle{
	margin-left:20px;
	}
.breadtitle li {	
	margin-left: 5px;
	float:left;
	text-indent:0;
}
.mo {
	background: url(../images/icon.gif) no-repeat scroll 0 -14px;
	height:20px;
	width: 13px;
	text-indent: -999999px;
}
.back_main{
	border:solid 2px #eee;
	padding:10px 15px;
	min-height:500px;
	}
	
.statistics_info{
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	padding-bottom:5px;
	height:20px;
	}
.statistics_info li{
	float:left;
	font-weight:bold;
	margin-right:20px;
	}
.graph { 
     position: relative; 
     width: 300px; 
     border: 1px solid #ccc; 
     height: 15px; 
    }
.graph span{
	 display: block;
     position: absolute;
	 left: 0;
	 top: 0;
	 text-align: center; 
     color: #333; 
	 height: 15px;
	 }
.graph .bar {      
     background: #B1D632;       
    }
.graph .bar2{
	background:#9CF;
	}
.graph .bar3{
	background:#96F;
	}
.graph .bar4{
	background:#FC6;
	}
.graph .bar5{
	background:#369;
	}