
.crumb {
    font-family: ËÎÌå;
}
.left {
    float: left;
    width: 211px;
}
.right-extra {
    float: right;
    width: 990px;
}
.mt h1, .mt h2 {
    font-family: ËÎÌå;
    font-weight: bold;
}
.mt .extra {
    float: right;
}
.list-h li, .list-h dl {
    float: left;
}
.p-name {
    height: 3em;
    word-wrap: break-word;
}

.limitbuy {
    border: 1px solid #DDDDDD;
}
.limitbuy .mt {
    background: url("../images/20120827E.jpg") repeat-x scroll 0 0 #E6E6E6;
    height: 31px;
    line-height: 28px;
    margin-bottom: 8px;
    padding-left: 8px;
}
.limitbuy .mc {
    padding-bottom: 6px;
}
.limitbuy .clock {
    text-align: center;
}
.limitbuy .clock b {
    color: #CC0000;
    font-family: arial;
    font-size: 20px;
    padding: 0 3px;
}
.limitbuy li {
    padding: 0 10px;
    text-align: center;
}
.limitbuy .p-img {
    margin: 3px 0;
    position: relative;
    width: 189px;
}
.limitbuy .p-market {
    display: none;
}

#recent {
    border: 1px solid #DDDDDD;
}
#recent .mt {
    background: url("../images/20120827E.jpg") repeat-x scroll 0 0 #E6E6E6;
    height: 31px;
    line-height: 28px;
    padding: 0 8px;
}
#recent h2 {
    float: left;
}
#recent .mc {
    padding: 0 1px;
}
#recent ul {
    margin-top: -2px;
}
#recent li {
    border-top: 1px dotted #CCCCCC;
    overflow: hidden;
    padding: 5px 0;
}
#recent .p-img {
    float: left;
    margin-right: 5px;
    padding-left: 8px;
}
#recent .p-name {
    float: left;
    margin-top: 10px;
    width: 140px;
}
#recent .norecode {
    padding: 5px 7px;
}
#recent .iloading {
    margin-bottom: 5px;
    margin-top: 5px;
}
#i-right {
    background: none repeat scroll 0 0 #FCF4EA;
    border: 1px solid #FFCC66;
    height: 147px;
    overflow: visible;
    padding: 3px;
    position: relative;
}
#i-right h2 {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 15px;
}
#hotsale {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 137px;
    padding-bottom: 10px;
    position: absolute;
    width: 581px;
}
#hotsale .mt {
    background: url("../images/20120824B.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: -4px;
    line-height: 16px;
    padding: 15px 0 15px 20px;
    position: absolute;
    top: -4px;
}
#hotsale h2 {
    background-position: 0 -597px;
    margin-left: 20px;
}
#hotsale .mc {
    height: 104px;
    overflow: hidden;
    padding: 37px 0 0 25px;
    width: 556px;
}
#hotsale dl {
    margin-bottom: 20px;
    overflow: hidden;
    width: 275px;
}
#hotsale dt {
    float: left;
    margin-right: 6px;
    width: 100px;
}
#hotsale dd {
    float: left;
    width: 146px;
}
#hotsale .p-name {
    height: 30px;
    line-height: 15px;
}
#hotsale .p-name a:link, #hotsale .p-name a:visited {
    color: #005AA0;
}
#hotsale .btns {
    margin-top: 5px;
}
#hotsale .btns a:link, #hotsale .btns a:visited {
    background: url("../images/bg_hotsale.gif") no-repeat scroll 0 -466px transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 64px;
}
#market {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 127px;
    padding: 10px;
    width: 160px;
}
#market .mt, #market .mc {
    border-left: 1px solid #FFF5E9;
}
#market .mt {
    padding-bottom: 7px;
    padding-left: 7px;
}
#market .mt h2 {
    background-position: 0 -614px;
}
#market .mc {
    font-family: ËÎÌå;
    padding: 0 0 2px 3px;
}
#market li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#select {
    border-top: 2px solid #EED97C;
}
#select .mt {
    background: url("../images/bg_hotsale.gif") repeat-x scroll 0 -552px transparent;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 8px;
}
#select h1 {
    color: #CC3300;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
#select strong {
    color: #CC3300;
    float: left;
    font-size: 14px;
}
#select .extra a {
    color: #005AA0;
}
#select dl {
    border-top: 1px dashed #E7CDAE;
    margin: 0 5px;
    overflow: hidden;
    padding: 4px 0 2px;
    width: 989px;
}
#select dl.fore {
    border-top: 0 none;
}
#select dl.fore1 {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: -1px;
    padding: 6px 0;
}
#select dl.fore1 div {
    border: 1px solid #E6E6E6;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    padding: 0 20px 0 5px;
    position: relative;
}
#select dl.fore1 div:hover, #select dl.fore1 .hover {
    border: 1px solid #999999;
}
#select dl.fore1 a:link, #select dl.fore1 a:visited {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    float: none;
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    white-space: nowrap;
}
#select dl.fore1 a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
}
#select dl.fore1 dt {
    line-height: 22px;
}
#select dl.fore1 dd {
    padding-right: 70px;
    width: 582px;
}
#select dl.fore1 strong {
    color: #CC3300;
    float: none;
    font-size: 12px;
}
#select dl.fore1 b {
    background: url("../images/i20120716A.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 11px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 11px;
}
#select dt {
    float: left;
    font-weight: bold;
    line-height: 25px;
    text-align: right;
    width: 100px;
}
#select dd {
    float: right;
    overflow: hidden;
    position: relative;
    width: 885px;
}
#select dd div {
    float: left;
    height: 20px;
    margin-right: 15px;
    padding-top: 5px;
}
#select dd a#all-revocation {
    color: #005AA0;
    display: block;
    padding: 3px 10px 0 0;
    position: absolute;
    right: 10px;
}
#select dd a {
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}
#select dd a:link, #select dd a:visited {
    color: #005AA0;
}
#select dd a:hover, #select dd a:active, #select dd a.curr:link, #select dd a.curr:visited {
    background: none repeat scroll 0 0 #4598D2;
    color: #FFFFFF;
}
#select-brand .tab {
    height: 28px;
    margin-bottom: 8px;
    padding-top: 2px;
}
#select-brand .tab li {
    border: 1px solid #FFFFFF;
    color: #005EA7;
    float: left;
    font-family: Verdana,ËÎÌå;
    height: 15px;
    line-height: 15px;
    margin-right: 4px;
    padding: 2px 10px;
}
#select-brand .tab b {
    background: url("../images/icon20110818.gif") no-repeat scroll 0 0 transparent;
    bottom: -5px;
    display: none;
    height: 5px;
    left: 50%;
    margin-left: -3px;
    overflow: hidden;
    position: absolute;
    width: 7px;
}
#select-brand .tab .curr {
    background: none repeat scroll 0 0 #FFEECA;
    border: 1px solid #EED97C;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    position: relative;
}
#select-brand .tab .curr b {
    display: block;
}
#select-brand .content {
    float: none;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#select-brand .content div {
    overflow: hidden;
    width: 110px;
}
#select-hold {
    background: url("../images/icon20110818.gif") no-repeat scroll 0 -6px transparent;
    color: #333333;
    cursor: pointer;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 18px;
    position: relative;
    width: 47px;
}
#select-hold b {
    background: url("../images/icon20110818.gif") no-repeat scroll 0 0 transparent;
    height: 5px;
    left: 6px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    width: 7px;
}
#select-hold.close b {
    background-position: -16px 0;
}
#select-hold.open b {
    background-position: -8px 0;
}
#advanced {
    border: 1px solid #E6E6E6;
    height: 4px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
#advanced div {
    background: url("../images/bg_tit_home.gif") no-repeat scroll -10px -32px #E6E6E6;
    border-color: #FFFFFF #E6E6E6 #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    line-height: 20px;
    padding-right: 19px;
    position: absolute;
    right: 341px;
    text-align: right;
    top: 4px;
    width: 60px;
}
#advanced div b {
    background: url("../images/bg_hotsale.gif") no-repeat scroll -65px -632px transparent;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 7px;
}
#advanced a {
    color: #005AA0;
}
.advanced {
    border: 1px solid #E6E6E6;
    height: 4px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.advanced div {
    background: url("../images/bg_tit_home.gif") no-repeat scroll -10px -32px #E6E6E6;
    border-color: #FFFFFF #E6E6E6 #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-style: solid;
    border-width: 1px;
    color: #005AA0;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    padding-right: 19px;
    position: absolute;
    right: 341px;
    text-align: right;
    top: 4px;
    width: 60px;
}
.advanced div b {
    background-image: url("../images/bg_hotsale.gif");
    background-repeat: no-repeat;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 7px;
}
.advanced .close b {
    background-position: -65px -632px;
}
.advanced .open b {
    background-position: -65px -640px;
}
.advanced a {
    color: #005AA0;
}
#advanced-brand {
    float: right;
    width: 656px;
}
#filter .up b, #filter .down b, #store-selector .close, #store-selector .text b, #filter .instock b, #filter .type b {
    background-image: url("../images/20120418.png");
    background-repeat: no-repeat;
}
#filter, #filter .order dd {
    background-image: url("../images/20120418A.png");
    background-repeat: repeat-x;
}
#filter {
    background-position: 0 0;
    border-color: #CE0000 #DEDFDE #DEDFDE;
    border-style: solid;
    border-width: 2px 1px 1px;
    margin-bottom: 20px;
}
#filter .fore1 {
    border-bottom: 1px solid #E7E3E7;
    padding: 5px 8px;
}
#filter .fore2 {
    border-top: 1px solid #FFFFFF;
    padding: 3px 8px;
}
#filter dl, #filter dt, #filter dd {
    float: left;
    line-height: 26px;
}
#filter .total {
    border-right: 1px solid #E7E3E7;
    color: #CC3300;
    float: right;
    height: 22px;
    line-height: 22px;
    padding: 2px 15px 2px 0;
}
#filter .pagin {
    border-left: 1px solid #FFFFFF;
    float: right;
    height: 22px;
    padding: 2px 0;
}
#filter .order dd {
    background-color: #FFFFFF;
    background-position: 0 -80px;
    border: 1px solid #CECBCE;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    overflow: hidden;
}
#filter .order a {
    display: block;
    padding: 0 10px;
}
#filter .order b {
    display: block;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 9px;
}
#filter .order .curr {
    background: none repeat scroll 0 0 #CC0000;
    border: 1px solid #990000;
    font-weight: bold;
}
#filter .order .curr a:link, #filter .order .curr a:visited {
    color: #FFFFFF;
}
#filter .up, #filter .down {
    position: relative;
}
#filter .up a, #filter .down a {
    padding-right: 20px;
}
#filter .order .up b {
    background-position: 0 -12px;
}
#filter .order .down b {
    background-position: 0 0;
}
#filter .store {
    border-right: 1px solid #E7E3E7;
    padding-right: 15px;
}
#store-selector {
    height: 26px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}
#store-selector dl, #store-selector dt, #store-selector dd {
    color: #999999;
    float: none;
}
#store-selector dl {
    width: 390px;
}
#store-selector dd {
    line-height: 22px;
}
#store-selector a:link, #store-selector a:visited {
    color: #005AA0;
}
#store-selector a:hover, #store-selector a:active {
    background: none repeat scroll 0 0 #005AA0;
    color: #FFFFFF;
}
#store-selector .text {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECBCE;
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 24px 0 4px;
    position: relative;
    top: 0;
}
#store-selector .text b {
    background-position: -20px 0;
    border-left: 1px solid #CECBCE;
    display: block;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
}
#store-selector .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECBCE;
    box-shadow: 0 0 5px #DDDDDD;
    display: none;
    left: -45px;
    padding: 15px;
    position: absolute;
    top: 25px;
    width: 390px;
}
#store-selector .content select {
    border: 1px solid #CECBCE;
    width: 120px;
}
#store-selector .content .select1 {
    margin-right: 15px;
}
#store-selector .close {
    background-position: -40px 0;
    display: none;
    height: 17px;
    left: 365px;
    position: absolute;
    top: 20px;
    width: 17px;
    z-index: 2;
}
#store-selector.wrap-selects .content {
    width: 256px;
}
#store-selector.wrap-selects .close {
    left: 235px;
}
#store-selector.hover .content, #store-selector.hover .close {
    display: block;
}
#store-selector.hover .text {
    border-bottom: 0 none;
    height: 25px;
    z-index: 1;
}
#store-selector.hover .text b {
    border-bottom: 1px solid #CECBCE;
}
#filter .instock {
    padding-left: 16px;
    position: relative;
}
#filter .type {
    border-left: 1px solid #FFFFFF;
    padding-left: 15px;
}
#filter .type dd {
    margin-right: 14px;
    padding-left: 16px;
    position: relative;
}
#filter .instock b, #filter .type b {
    display: block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 13px;
}
#filter .instock a:link b, #filter .instock a:visited b, #filter .instock .disabled b {
    background-position: -28px -25px;
}
#filter .instock a:hover b, #filter .instock a:active b, #filter .instock .selected a:link b, #filter .instock .selected a:visited b {
    background-position: 0 -25px;
}
#filter .instock .disabled {
    color: #999999;
}
#filter .type a:link b, #filter .type a:visited b {
    background-position: -42px -25px;
}
#filter .type a:hover b, #filter .type a:active b, #filter .type .selected a:link b, #filter .type .selected a:visited b {
    background-position: -14px -25px;
}
#plist li {
    font-family: arial,ËÎÌå;
    padding: 0 11px 10px;
    text-align: center;
    width: 224px;
}
#plist .p-img {
    border: 1px solid #FFFFFF;
    height: 160px;
    position: relative;
}
#plist .p-price {
    height: 22px;
    margin-top: 5px;
}
#plist .p-price em {
    color: #D22C00;
    font-size: 11px;
}
#plist .p-price strong {
    color: #D22C00;
    font-size: 14px;
}
#plist .extra {
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
    overflow: hidden;
    padding: 2px 0;
}
#plist .evaluate {
    color: #005AA0;
}
#plist .evaluate a:link, #plist .evaluate a:visited {
    color: #005AA0;
}
#plist .reputation {
    color: #1A8705;
    display: none;
}
#plist .btns {
    margin-top: 10px;
    padding-left: 30px;
}
#plist .nostore {
    padding-left: 12px;
}
#plist .btn-buy, #plist .btn-coll, #plist .btn-comp, #plist .btn-none, #plist .notice-store {
    background: url("../images/bg_hotsale.gif") no-repeat scroll 0 -632px transparent;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    text-align: center;
    width: 50px;
}
#plist .btn-coll, #plist .btn-comp {
    border: 0 none;
    cursor: pointer;
}
#plist .btn-none {
    background-position: 0 -677px;
    color: #CC3300;
    cursor: not-allowed;
}
#plist .notice-store {
    background: url("../images/notice_store.gif") no-repeat scroll 0 0 transparent;
    color: #C38700;
    padding-left: 25px;
    width: 65px;
}
#plist .stocklist {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 6px 6px 6px 6px;
    margin: 0 auto;
    width: 80px;
}
#plist .p-img:hover {
    border: 1px solid #FFD9C0;
    border-radius: 1px 1px 1px 1px;
}
.st33 {
    color: #009724;
}
.st36, .st39 {
    color: #D78402;
}
.st34 {
    text-decoration: line-through;
}
.st0 {
}
#r-entry {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #333333;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
}
#r-entry strong {
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px 0 35px;
}
#r-entry a.btn_entry {
    background: url("../images/btn_entry.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 120px;
}
#r-entry a.btn_entry:hover {
    text-decoration: none;
}
#co-product {
    background: url("../images/bg_co_product.jpg") repeat-x scroll 0 -25px transparent;
    border: 1px solid #CCCCCC;
    position: relative;
}
#co-product h2 {
    color: #CC3300;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
#co-product h2 .img {
    background: url("../images/bg_co_product.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 159px;
}
#co-product li {
    font-family: arial,ËÎÌå;
    padding: 0 15px 10px;
    text-align: center;
    width: 223px;
}
#co-product .p-img {
    height: 160px;
}
#float-bar {
    overflow: hidden;
    padding-bottom: 10px;
    position: fixed;
    width: 23px;
    z-index: 101;
}
#float-bar div, #float-bar a {
    background-image: url("../images/bg_pannel.jpg");
    background-repeat: no-repeat;
    line-height: 13px;
    padding-top: 24px;
    text-align: center;
    width: 23px;
}
#float-bar a {
    background-position: 0 bottom;
    color: #FF6600;
    display: block;
    padding: 2px 1px 8px 0;
    text-decoration: none;
    width: 22px;
}
#float-bar .vote {
    background-position: 0 0;
    margin-bottom: 5px;
}
#float-bar .return {
    background-position: -23px 0;
    padding-top: 20px;
}
.pi1, .pi2, .pi3, .pi4, .pi5, .pi6, .pi7, .pi8, .pi9, .pi10, .pi11, .pi12 {
    background-image: url("../images/icon_promotion20110727.png");
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
}
.pi1 {
    background-position: 0 0;
}
.pi2 {
    background-position: -54px 0;
}
.pi3 {
    background-position: -108px 0;
}
.pi4 {
    background-position: 0 -60px;
}
.pi5 {
    background-position: -54px -60px;
}
.pi6 {
    background-position: -108px -60px;
}
.pi7 {
    background-position: 0 -120px;
}
.pi8 {
    background-position: -54px -120px;
}
.pi9 {
    background-position: -162px 0;
}
.pi10 {
    background-position: -162px -60px;
}
.pi11 {
    background-position: -108px -120px;
}
.pi12 {
    background-position: -162px -120px;
}
.pi13, .pi14, .pi15, .pi16, .pi17, .pi18, .pi19, .pi20, .pi21, .pi22, .pi23, .pi24, .pi25, .pi26, .pi27, .pi28, .pi29, .pi30, .pi31, .pi32, .pi33, .pi-ebook {
    position: absolute;
    right: 0;
    top: 0;
}
.pi13 {
    background: url("../images/20120925A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi14 {
    background: url("../images/icon20111013.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 54px;
}
.pi15 {
    background: url("../images/20120419A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi16 {
    background: url("../images/icon2012010902.png") no-repeat scroll 0 0 transparent;
    height: 71px;
    width: 57px;
}
.pi17 {
    background: url("../images/20120202A.png") no-repeat scroll 0 0 transparent;
    height: 75px;
    width: 61px;
}
.pi18 {
    background: url("../images/icon2012032601.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi19 {
    background: url("../images/20120424A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi20 {
    background: url("../images/20120418C.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 54px;
}
.pi21 {
    background: url("../images/i2012051501.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    top: 8px;
    width: 54px;
}
.pi22 {
    background: url("../images/i2012052802.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi23 {
    background: url("../images/i2012052901.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 54px;
}
.pi24 {
    background: url("../images/i2012060701.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi25 {
    background: url("../images/i2012060702.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi26 {
    background: url("../images/i2012061501.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi27 {
    background: url("../images/i2012062801.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 54px;
}
.pi28 {
    background: url("../images/20120730A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi29 {
    background: url("../images/20120730B.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi30 {
    background: url("../images/20120806A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi31 {
    background: url("../images/20121016A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi32 {
    background: url("../images/20121030A.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi33 {
    background: url("../images/20121030B.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 55px;
}
.pi-ebook {
    background: url("../images/icon2012030201.png") no-repeat scroll 0 0 transparent;
    height: 55px;
    width: 55px;
}
.pt1, .pt2, .pt3, .pt4, .pt5 {
    background-image: url("../images/icon_promotion20110727.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 100px;
    margin: 0 2px -3px;
    overflow: hidden;
    width: 28px;
}
.pt1 {
    background-position: -71px -180px;
}
.pt2 {
    background-position: -100px -180px;
}
.pt3 {
    background-position: -42px -180px;
}
.pt4 {
    background-position: 0 -180px;
    width: 41px;
}
.pt5 {
    background: url("../images/20120713A.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    width: 62px;
}
a.st1, a.st2, a.st3 {
    text-decoration: none;
}
.st1 b, .st2 b, .st3 b {
    background-image: url("../images/icon_promotion.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    margin-right: 2px;
    position: relative;
    top: 2px;
    width: 12px;
}
.st1 b {
    background-position: 0 -196px;
}
.st2 b {
    background-position: -13px -196px;
}
.st3 b {
    background-position: -26px -196px;
}
* + html .st1 b, * + html .st2 b, * + html .st3 b {
    top: -1px;
}
.Tip360 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #959595;
    display: none;
    overflow: hidden;
    position: absolute;
    width: 380px;
    z-index: 20002;
}
.Tip360 strong {
    color: #FF6600;
}
.w260 {
    width: 260px;
}
.Tip_Title {
    background: none repeat scroll 0 0 #0067AA;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
}
.Tip_Title em {
    cursor: pointer;
    float: right;
    margin-top: 6px;
}
.Tip_Content {
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
.Tip_Img {
    float: left;
    height: 96px;
    width: 110px;
}
.Tip_Img img {
    height: 75px;
    padding: 10px 5px;
    width: 100px;
}
.Tip_Text {
    float: right;
    text-align: left;
    width: 240px;
}
.Tip_Text1 {
    background: url("../images/right_03.jpg") no-repeat scroll left center transparent;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 15px 0 15px 40px;
}
.Tip_Submit {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #CCCCCC;
    height: 24px;
    padding: 3px 5px;
}
.Tip_Submit a:link, .Tip_Submit a:visited, .Tip_Submit2 a:link, .Tip_Submit2 a:visited {
    border: 1px solid #0067AA;
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    margin-left: 10px;
    padding: 1px;
    text-decoration: none;
}
.Tip_Submit span, .Tip_Submit2 span {
    background: none repeat scroll 0 0 #0067AA;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}
.m0 {
    border: 1px solid #DDDDDD;
}
.m0 .mt {
    background: url("../images/20120827E.jpg") repeat-x scroll 0 0 #E6E6E6;
    height: 31px;
    line-height: 28px;
    padding-left: 8px;
}
.m0 ul {
    overflow: hidden;
    padding: 0 8px;
}
.m0 li {
    border-top: 1px dotted #CCCCCC;
    padding: 6px 0;
    text-align: center;
}
.m0 .fore {
    border-top: medium none;
}
.m0 .rate {
    height: 3em;
    overflow: hidden;
    text-align: left;
}
.m0 .rate strong {
    color: #CE2C08;
}
.m0 .p-img img {
    border: 1px solid #EFEFEF;
}
.notebook, .camera {
    background-image: url("../images/icon20110902.png");
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    padding-left: 5px;
    vertical-align: middle;
}
.notebook {
    background-position: 5px 0;
    width: 190px;
}
.camera {
    background-position: 5px -30px;
    width: 200px;
}
#finalbuy .p-img {
    position: relative;
}
#finalbuy .rate {
    word-break: break-all;
    word-wrap: break-word;
}
#finalbuy .more {
    height: 30px;
    line-height: 28px;
    padding-right: 8px;
    text-align: right;
}
#finalbuy .more a:link, #finalbuy .more a:visited {
    color: #005EA7;
    text-decoration: none;
}
#finalbuy .more a:hover {
    text-decoration: underline;
}
#alsobuy .p-img {
    position: relative;
}
#alsobuy .rate {
    word-break: break-all;
    word-wrap: break-word;
}
#plist.plist-220 li {
    padding: 0 17px 10px;
    width: 222px;
}
#plist.plist-220 .p-img {
    height: 220px;
    width: 222px;
}
.shop-choice {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    height: 276px;
    margin-bottom: 25px;
    overflow: visible;
}
.shop-choice .mt {
    background: url("../images/20120723A.gif") repeat-x scroll 0 0 transparent;
    height: 30px;
    line-height: 27px;
}
.shop-choice .mt h3 {
    float: left;
    font-size: 12px;
    height: 27px;
    padding-left: 1em;
}
.shop-choice .mt .extra {
    height: 27px;
    margin: 0;
    padding: 0 1em 0 0;
}
.shop-choice .mt .extra a {
    color: #005EA7;
}
.shop-choice .mc {
    height: 250px;
    left: -1px;
    overflow: hidden;
    position: relative;
    top: -3px;
    width: 767px;
    z-index: 0;
}
.shop-choice .list-h {
    overflow: visible;
}
.shop-choice li {
    font-family: arial,ËÎÌå;
    padding: 4px 16px 11px;
    position: relative;
    text-align: center;
    width: 223px;
}
.shop-choice .p-img img {
    border: 1px solid #DDDDDD;
}
.shop-choice .p-price {
    height: 22px;
    margin-top: 5px;
}
.shop-choice .p-price em {
    color: #D22C00;
    font-size: 11px;
}
.shop-choice .p-price strong {
    color: #D22C00;
    font-size: 14px;
}
.shop-choice .mc .extra {
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
    overflow: hidden;
    padding: 2px 0;
}
.shop-choice .evaluate {
    color: #005AA0;
}
.shop-choice .evaluate a:link, .shop-choice .evaluate a:visited {
    color: #005AA0;
}
.shop-choice .reputation {
    color: #1A8705;
    display: none;
}
.shop-choice .btns {
    height: 24px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
.shop-choice a.btn-buy, .shop-choice .btns input {
    background: url("../images/20120723A.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin: 0 2px;
    text-align: center;
    vertical-align: middle;
    width: 53px;
}
.shop-choice a.btn-buy, .shop-choice input.btn-coll, .shop-choice input.btn-comp {
    background-position: -90px -31px;
}
.shop-choice a.btn-buy {
    color: #000000;
    text-decoration: none;
}
.shop-choice a.notice-store {
    background: url("../images/notice_store.gif") no-repeat scroll 0 0 transparent;
    color: #C38700;
    padding-left: 25px;
    width: 65px;
}
.shop-choice a.ehaoyao {
    background: url("../images/btn2012062502.png") no-repeat scroll 0 0 transparent;
    color: #333333;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    padding-left: 26px;
    width: 86px;
}
.shop-choice a.ehaoyao:hover {
    text-decoration: none;
}
.shop-choice .stocklist {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 6px 6px 6px 6px;
    margin: 0 auto;
    width: 80px;
}
.shop-choice .hover1 {
    background: none repeat scroll 0 0 #FFFDEE;
    border: 1px solid #EDD28B;
    padding: 3px 15px 10px;
    position: relative;
    z-index: 2;
}
.shop-choice .hover1 .p-img {
    border: medium none;
}
.shop-choice .hover1 .p-img:hover {
    border: medium none;
}
.shop-choice .stocklist {
    background-color: #E5E5E5;
}
#product-track .nothing {
    margin-top: 100px;
    text-align: center;
}
#product-track .iloading {
    margin-top: 100px;
}
#product-track .m2 h2 {
    font: bold 14px/28px simsun;
    padding: 0 8px;
}
#product-track .left .m2 .mt {
    background: url("../images/newicon20120718.png") repeat-x scroll 0 -287px transparent;
    border-bottom: 1px solid #CCCCCC;
    border-right: 0 none;
    height: 28px;
    line-height: 28px;
}
#product-track .m2 {
    border: 1px solid #CCCCCC;
}
#product-track .left {
    float: left;
    margin-right: 0;
    width: 210px;
}
#product-track .right {
    float: right;
}
#product-track {
    margin-top: 10px;
}
#product-track .right {
    width: 780px;
}
#recent-view-track .mc ul {
    height: 250px;
    overflow-y: auto;
}
#recent-view-track h2 {
    float: left;
    font-size: 14px;
}
#recent-view-track .extra {
    font-size: 12px;
    margin-right: 10px;
}
#recent-view-track ul {
    margin-top: -1px;
    padding: 0 8px;
}
#recent-view-track li {
    border-top: 1px dotted #DEDEDE;
    overflow: hidden;
}
#recent-view-track .p-img {
    float: left;
    height: 50px;
    margin-right: 5px;
    overflow: hidden;
    width: 50px;
}
#recent-view-track .p-name {
    float: left;
    height: 3em;
    margin-top: 5px;
    width: 120px;
}
#recent-view-track .p-price {
    float: left;
    width: 120px;
}
#recent-view-track .no-track {
    background: url("../images/foot.png") no-repeat scroll left bottom transparent;
    color: #999999;
    height: 230px;
    margin: 10px;
}
#recent-view-track .no-track p {
    line-height: 1.5em;
    margin-top: 5px;
}
#recent-view-track .no-track h4 {
    font: 18px microsoft yahei;
}
#product-track #maybe-like {
    border-left: 0 none;
}
#maybe-like .mt {
    background: url("../images/newicon20120718.png") repeat-x scroll 0 -287px transparent;
    border-bottom: 1px solid #CCCCCC;
    border-right: 0 none;
    height: 28px;
}
#maybe-like h2 {
    float: left;
    font-size: 14px;
}
#maybe-like .extra {
    font-size: 12px;
    margin-right: 10px;
}
#maybe-like .extra span {
    background: none repeat scroll 0 0 #999999;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    height: 16px;
    line-height: 16px;
    margin: 5px 0 0 5px;
    padding: 0 4px;
}
#maybe-like .extra .curr {
    background: none repeat scroll 0 0 #DD0000;
}
#maybe-like .extra {
    float: right;
    font-size: 14px;
}
#maybe-like .mc, #recent-view-track .mc {
    height: 250px;
    overflow: hidden;
}
#maybe-like .p-comm .star {
    margin-top: 2px;
}
#maybe-like .mc li {
    padding: 10px 27px;
    text-align: center;
    width: 133px;
}
#maybe-like .mc .p-name {
    height: 3em;
}
.star {
    background-image: url("../images/newicon20120718.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 75px;
}
.sa5 {
    background-position: -109px -239px;
}
.sa4 {
    background-position: -124px -239px;
}
.sa3 {
    background-position: -139px -239px;
}
.sa2 {
    background-position: -154px -239px;
}
.sa1 {
    background-position: -169px -239px;
}
.sa0 {
    background-position: -184px -239px;
}
.root61 .right-extra {
    width: 989px;
}
.root61 #i-search {
    width: 257px;
}
.root61 #hotsale {
    width: 801px;
}
.root61 #hotsale .mc {
    width: 776px;
}
.root61 #hotsale dl {
    margin-bottom: 0;
    width: 256px;
}
.root61 #select dl {
    width: 973px;
}
.root61 #select dd {
    width: 872px;
}
.root61 #select-brand .content div {
    width: 118px;
}
.root61 #select .fore1 dd {
    position: relative;
    width: 800px;
}
.root61 #advanced div {
    right: 451px;
}
.root61 .advanced div {
    right: 451px;
}
.root61 #advanced-brand {
    width: 876px;
}
.root61 #plist li {
    width: 215px;
}
.root61 #plist .nostore {
    padding-left: 6px;
}
.root61 #co-product li {
    width: 215px;
}
.root61 #plist.plist-220 li {
    padding: 0 11px 10px !important;
    width: 222px;
}
.root61 .shop-choice .mc {
    width: 988px;
}
.root61 .shop-choice li {
    width: 214px;
}
.root61 #product-track .right {
    width: 1000px;
}
.root61 #maybe-like .mc li {
    width: 144px;
}
