@charset "utf-8";
@charset "utf-8";
/* CSS Document */
html {
	color: #333;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	margin: 0;
	background:#fff;
}
body, ul, li, ol, dt, dd, dl, p, h1, h2, h3, h4, h5, h6, h7,from{
	margin: 0;
	padding: 0;
}
body {
	scrollbar-face-color:#f7f7f7;
	scrollbar-highlight-color:#ccc;
	scrollbar-3dlight-color:#fff;
	scrollbar-shadow-color:#ccc;
	scrollbar-darkshadow-color:#fff;
	scrollbar-track-color:#fafafa;
	scrollbar-arrow-color:#b3b3b3;
}
/********  head content  footer  ******/

#wrapper{width:960px; margin: 0 auto;overflow:hidden;}
#head{margin: 0 auto;overflow:hidden;}
#content{width:960px; margin: 5px auto; overflow:hidden}
#footer{width:960px;margin: 0 auto;overflow:hidden;}
.top_head{
	height:90px;
	width:960px;
	background: url(../image/top.png) no-repeat scroll 0 0 transparent;
    margin: 0px auto 0;
}
.footline {
    border-bottom: 2px solid #017CC8;
    height: 15px;
    margin-bottom: 5px;
}
.footer_menu {
    line-height: 26px;
    text-align: center;
}
.footer_menu span {
    padding: 0 10px;
}
img {
	border: 0 none;
	vertical-align:top;
}
img {
	border: 0 none;
	vertical-align:top;
}
ul, ol {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
input {
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}
select {
	height: 26px;
	line-height: 16px;
	vertical-align: middle;
	color: #666;
	font-size: 12px;
	padding: 4px 2px;
	border: 1px solid #ddd;
}
textarea {
	border: 1px solid #ddd;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	background-color: #fff;
	padding: 5px;
}
label {
	font-family: Tahoma;
	vertical-align: middle;
}
a {color:#333333}
a:hover {color:#017CC8; cursor:pointer;}
a { text-decoration:none;}
/*  全局 文字对齐  属性   */

.ta_c{text-align: center;}
.ta_l{text-align: left;}
.ta_r{text-align: right;}

.ov_h{overflow: hidden;}
.ov_s{overflow: scroll;}
.db{display:block}
.dn {display: none;}
.di {display: inline;}
.dib{display:inline-block;-moz-inline-stack:inline-block;}

.clearb{clear: both}
.clearr{clear: right}
.clearl{clear: left;}

.prel{position: relative;}
.pabs{position: absolute;}

.rr{float:right}
.ll{float:left}

.del_float {
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}


/*main nav bar*/
.menu_bg_l {
	background: url(../image/top.gif) no-repeat scroll 0 -105px;
	width: 2px;
	height: 37px;
}
.menu_bg {
	width: 800px;
	position: relative;
	z-index:-100;
}
.menu_bg_r {
	background: url(../image/top.gif) no-repeat scroll -102px -68px;
	width: 158px;
	height: 37px;
	position: relative;
	z-index:-100;
}
.menu_bg li {
	width: 100px;
	line-height: 40px;
	height: 37px;
	background: url(../image/top.gif) no-repeat scroll 0 -236px;
	float: left;
	text-align: center;
	overflow:hidden;
}
.menu_bg li a {
	margin-left: 6px;
	font-size: 14px;
	text-decoration: none;
	color:#fff;
}
.nav_hover {
	width: 88px;
	height: 38px;
	display: block;
	background: url(../image/nav_hover.png) no-repeat;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	font-weight: 900;
	float: left;
	/*position:absolute;*/
	top:-10px;
	left:0;
}
.menu_bg li .nav_hover{
	color:#017CC8;
	}

.nav_selected {
	width: 88px;
	height: 38px;
	background: url(../image/nav_selected.png) no-repeat;
	display: block;
	line-height: 36px;
	font-weight: 900;
	float: left;
	/*position:absolute;*/
	top:-20px;
	left:0;
}
.menu_bg li .nav_selected{
	color:#ef7802;
}
.bottom_nav {
    background: none repeat scroll 0 0 #FAFBE8;
    height: 36px;
    width: 960px;
    z-index: 1;
}
/*loginbox on main nav bar*/
.loginbox {
	margin-top: 5px;
	width: 200px;
	height: 25px;
}
.log_btn {
	width: 54px;
	height: 25px;
	margin-left: 10px;
	background: url(../image/top.gif) no-repeat scroll 0 -274px;
	float: left;
	border:none;
	cursor:pointer;
}
.reg_btn {
	width: 82px;
	height: 25px;
	margin-left: 10px;
	background: url(../image/top.gif) no-repeat scroll -54px -274px;
	float: left;
	border:none;
	cursor:pointer;
}
#wrap {
    background: url("../image/wrap.jpg") no-repeat scroll 0 0 transparent;
    display: inline;
    float: right;
    height: 763px;
    margin: 5px 0 0 5px;
    position: relative;
    width: 396px;
	overflow:hidden;
}
.wel_3g {
    font-size: 14px;
    padding-top: 108px;
    text-align: center;
}
#wrap_content {
    height: 482px;
    left: 29px;
    overflow-x: hidden;
    position: absolute;
    top: 137px;
    width: 340px;
}
.index_left{
    float:left; 
	width:540px;
	margin: 5px 0 0 0px;
}
.headsearch{
    float:right; 
	position: absolute;
	margin: 30px 0 0 500px;
	z-index:1;
}
.select_box{float:right;}
.select_box .select_choose{ background:url(../image/search_select.gif) no-repeat; height:30px; line-height:30px; width:98px; text-align:center; cursor:default;}
.select_outer{ background:url(../image/search_select_bt.gif) left bottom no-repeat;  padding-bottom:4px; top:30px; left:0; width:98px;}
.select_outer ul{ background:url(../image/search_select_line.gif) repeat-y; padding:5px 5px 0 5px;}
.select_outer ul li{ text-align:center;}
.select_outer ul li a{ height:20px; line-height:20px; display:block;}
.select_outer ul li a:hover{ background:#e2eeee; color:#0093ff; text-decoration:none; border-radius:3px;}
.select_box,.search_input,.searchbtn,.advanced_s{ float:left;}
.search_input{ background:url(../image/search_input.gif) no-repeat; height:30px; padding-top:4px;width:263px;}
.search_input input{ border:none!important; background:none!important; width:262px;}
.searchbtn{ background:url(../image/search_btn.gif) no-repeat; border:none; width:74px; height:30px; text-indent:-999em; cursor:pointer;}

/*最近公告*/
.right_column {
	width: 270px;
	margin:5px -12px 5px 0px;
}
.right_column_bg1 {
	background: url(../image/public_bg1.gif) no-repeat;
	width: 2px;
	height: 26px;
	float: left;
}

.right_column_bg2 {
	background: url(../image/public_bg2.gif) no-repeat;
	width: 2px;
	height: 26px;
	float: right;
}

.right_column_bg3 {
	background: url(../image/public_bg3.gif) repeat-x;
	width: 261px;
	height: 21px;
	float: left;
	padding: 5px 0 0px 5px;
}

.right_column_line1 {
	width: 268px;
	border-top: solid 1px #bbddf8;
	float: left;
	border-left: solid 1px #bbddf8;
	border-right: solid 1px #bbddf8;
}

.right_column_bg4 {
	background: url(../image/public_bg4.gif) no-repeat;
	width: 2px;
	height: 2px;
	float: left;
	overflow:hidden;
}

.right_column_bg5 {
	background: url(../image/public_bg5.gif) no-repeat;
	width: 2px;
	height: 2px;
	float: right;
	overflow:hidden;
}

.right_column_line2 {
	border-top: solid 1px #bbddf8;
	float: left;
	width: 266px;
	height: 0px;
	margin-top: 1px;
	overflow:hidden;
}

.right_column_list {
	margin-left: 5px;
	width: 210px;
}

.right_column_list a {
	float: left;
	width: 170px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
}

.right_column_list span {
	float: right;
	color: #fe8c1a;
}
.middle_ad li {
    border: 1px solid #bbddf8;
    border-radius: 1px 1px 1px 1px;
    height: 60px;
    margin-top: 2px;
	margin-right: 2px;
    overflow: hidden;
    padding: 1px;
    width: 154px;
	float: left;
}








