/*concern*/
.tips a{ color:#06F; text-decoration:none; line-height:20px;}
.tips{width:490px;padding:10px; position:relative;}
.tips h2{height:40px;margin-bottom:15px;padding-left:70px;background:url(../images/icon_correct.jpg) no-repeat 10px 0px;line-height:40px;font-size:14px;color:#090;}
.tips .subscribe{padding:0 9px 9px 9px;border:1px solid #EDD28B;background:#FFFDEE;}
.tips .subscribe h3{height:32px;border-bottom:1px solid #FFE6BC;line-height:32px;font-size:12px;font-weight:bold;color:#333;}
.tips table{border-collapse:collapse;}
.tips table th,.tips table td{height:40px;line-height:40px;color:#666;vertical-align:middle;}
.tips table th{width:60px;font-weight:normal;}
.tips table .checkbox,.tips table label{vertical-align:middle;}
.tips table label{padding:0px 12px 0px 3px;font-family:Tahoma;}
.tips table .text{width:200px;height:17px;padding:2px 3px;border:1px solid;border-color:#aaa #ddd #ddd #aaa;background:#fff;font-family:arial,"ו";font-size:12px;color:#999;}
.tips table a.btn_ok{display:inline-block;cursor:pointer;width:70px;height:25px;margin-right:10px;background:url(../images/btn_ok.jpg) no-repeat;text-align:center;line-height:25px;font-size:12px;color:#333;}
.tips table a.btn_ok:hover{color:#f60;text-decoration:none;}
.tips table a.linkblue{color:#005EA7;}
/*reset*/
#reset h2{line-height:22px;}
#reset h2 em{margin-right:6px;padding-right:6px;border-right:1px solid #ccc;font-size:12px;font-weight:normal;color:#333;}
#reset h2 a{font-size:12px;font-weight:normal;color:#005EA7;}
/*has*/
#has h2{height:43px;background:url(../images/icon_sigh.jpg) no-repeat 10px 0px;line-height:22px;color:#333;}
#has h2 a{font-size:12px;font-weight:normal;color:#005EA7;}
/*span*/
.tips span.th{height:40px; line-height:20px; display:block;}
.tips span.ms {color:#999; line-height:20px;}
.tips span.name{line-height:20px;}
.tips_pic{ width:288px; height:56px; background:url(../images/gzpic.gif) #06F; position:absolute; top:60px; left:80px;}


/*scroll*/
.tips h2 a { font:normal 12px simsun; }
input { border:0; background-color:none; }
.scroll-control,.form-submit input {background-image:url(../images/newicon20120718.png); background-repeat:no-repeat;}
#scroll-inner { float:left;}
#scroll-inner li { float:left; }
#scroll-inner .p-name,#scroll-inner .p-img,#scroll-inner .p-price { padding:0 5px; text-align:center; }
#scroll-inner .p-name { width:100px; height:3em; line-height: 1.5em; overflow: hidden; }
#scroll-inner .p-price { height:20px; }
#scroll-inner .p-name a:hover,.more-link:hover { color:#cc0000; }
#scroll-inner .p-img img { border:1px solid #fff; }
#scroll-inner .p-img a:hover img { border:1px solid #c4c4c4; }
.scroll-control { float:left; margin-top:60px; width: 17px; height: 54px; overflow:hidden; text-indent:-9999px;    }

.disabled { cursor:default; }
#scroll-prev { background-position:0 -139px; margin-right:5px; }
#scroll-prev:hover { background-position:-34px -139px; }
#scroll-prev.disabled,#scroll-prev.disabled:hover { background-position:-68px -139px; }

#scroll-next { background-position:-17px -139px; margin-left:5px; }
#scroll-next:hover { background-position:-51px -139px; }
#scroll-next.disabled,#scroll-next.disabled:hover { background-position:-85px -139px; }

.scroll-title { overflow: hidden;border-top:1px dotted #ccc; margin-top:10px; width:490px; padding-top:10px; *zoom:1; }
.scroll-title h4 { float:left; font-weight:normal; }
.scroll-title .more-link { float:right; }
.more-link,#sale-notice a { color:#005aa0; }

#sale-notice .form-item { margin:10px 0; }
#sale-notice input { vertical-align: middle; }
#sale-notice p { margin-bottom:10px; font-weight:bold; }
#sale-notice label { line-height: 21px; }
#sale-notice label,#sale-notice em { color:#666666; }

#email,#cellphone { width:210px; height:21px; padding:1px 4px; border-left:1px solid #aaa; border-top:1px solid #aaa; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.form-checkbox,.form-submit { padding-left:5em; }
.form-checkbox { padding-bottom:10px; }

.form-submit input { width:70px; height: 25px; line-height: 25px; padding:0; text-align:center; background-position: -94px -112px; cursor:pointer; font-weight:bold; }

.scroll-title,.scroll { margin-left:10px; }