/*regist*/
#regist{width:450px;}
#regist .mt{position:relative;height:26px;border-bottom:1px solid #B4B4B4;overflow:visible;}
#regist .tab{position:absolute;top:0;left:20px;height:27px;}
#regist .tab li{width:83px;height:27px;padding-right:2px;margin-right:5px;text-align:center;line-height:27px;font-weight:bold;background-image:url(../images/bg_frametab.jpg);background-repeat:no-repeat;background-position:0 -27px;color:#333;font-size:14px;}
#regist .tab a{float:left;width:83px;height:27px;color:#005EA7;font-weight:normal;}
#regist .tab .curr{background-position:0 0;}
#regist .mc{padding:20px 5px 5px;background:#fff;}
#regist .item{padding-top:5px;height:47px;line-height:26px;}
#regist .item a:link,#regist .item a:visited{text-decoration:underline;}
#regist .label{width:90px;text-align:right;}
#regist .text{width:180px;height:16px;padding:4px 3px;border:1px solid #bbb;font-size:14px;font-family:arial,"ו";}
#regist .text_blank{width:180px;height:16px;padding:4px 3px;border:1px solid #bbb;font-size:14px;font-family:arial,"ו";color: #999;}
#regist .text-1{width:60px;}
#regist .blank{width:16px;height:16px;margin:2px 5px 0;}
#regist .mar{margin-right:10px;}
#regist .img img{height:26px;margin:0 5px;}
#regist .succeed{background:url(../images/pwdstrength.gif) no-repeat -105px 0;}
#regist .btn-regist{width:87px;height:35px;background:url(../images/bg_regist.jpg) no-repeat -155px -150px;font-size:14px;font-weight:bold;color:#fff;}
#regist .highlight1{border:1px solid #EFA100;outline:2px solid #FFDC97;*border:2px solid #ffcc66;*padding:3px 2px;}
#regist .highlight2{border:1px solid #f00;outline:1px solid #FFC1C1;color:#f00;}
#regist .pwdbg{background:#FFF8EB;}
#regist .focus{color:#999;line-height:22px;*line-height:20px;}
#regist .null,#regist .error{color:red;line-height:22px;*line-height:20px;}
#regist .checkbox{margin-top:6px;*margin-top:2px;}
#regist #referrer{color:#999;font-size:12px;}
#pwdstrength{color:#999;line-height:22px;padding-right:10px;}
#pwdstrength b{float:left;width:104px;height:13px;overflow:hidden;margin-top:5px;*margin-top:3px;}
.strengthA b{background:url(../images/pwdstrength.gif) no-repeat 0 0;}
.strengthB b{background:url(../images/pwdstrength.gif) no-repeat 0 -13px;}
.strengthC b{background:url(../images/pwdstrength.gif) no-repeat 0 -26px;}
#regist .extra{border-top:1px solid #E6E6E6;padding-left:10px;}
#regist .extra .btns{float:left;position:relative;overflow:hidden;height:14px;padding:5px 0 5px 23px;margin-right:2px;line-height:14px;}
#regist .extra .btns s{display:block;position:absolute;top:0;left:0;width:23px;height:23px;background-image:url(../images/icon_cooperation.jpg);background-repeat:no-repeat;}
#regist .extra .btns a:link,#regist .extra .btns a:visited{text-decoration:none;color:#005aa0;padding-right:1px;border-right:1px solid #DBDBDB;}
#regist .extra .qihu a:link,#regist .extra .qihu a:visited{border-right: none;}
#regist .extra .qq s{background-position:0 0;}
#regist .extra .alipay s{background-position:-23px 0;}
#regist .extra .renren s{background-position:-46px 0;}
#regist .extra .net163 s{background-position:-69px 0;}
#regist .extra .kaixing001 s{background-position:-92px 0;}
#regist .extra .sina s{background-position:-115px 0;}
#regist .extra .qihu s{background:url(../images/360qihu.jpg) no-repeat 0 4px;width:19px;height:21px;}

/*-moz-*/
@-moz-document url-prefix(){#regist .btn-regist{padding-bottom:5px;}}
@-moz-document url-prefix(){#regist .checkbox{margin-top:7px;}}
#regist .message{color:#090!important;}
